#r-img-preview > .shade {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,.9);
}
#r-img-preview .mint-swipe.img-container {
  width: 100%;
  height: 100%;
}
#r-img-preview > img {
  width: 100%;
}
#r-img-preview .mint-swipe-items-wrap {
  width: 100%;
  height: 100%;
}
#r-img-preview .mint-swipe-item {
  width: 100%!important;
  height: 100%;
  padding: 10px;
}
#r-img-preview > .shade .mint-swipe-item img {
  position: relative;
  top: 50%;

  width: 100%;

  transform: translateY(-50%);
}
.fade-enter-active , .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter , .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}
